aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.4.1
aniso8601==9.0.1
anyio==3.4.0
appnope==0.1.2
argon2-cffi==21.1.0
asgiref==3.4.1
astroid==2.9.0
async-timeout==4.0.1
attrs==21.2.0
Automat==20.2.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.10.0
bleach==4.1.0
blis==0.7.5
Boruta==0.3
casttube==0.2.1
catalogue==1.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
cloudpickle==2.0.0
colorlover==0.3.0
constantly==15.1.0
cryptography==36.0.0
cssselect==1.1.0
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.6
databricks-cli==0.16.2
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.3
docker==5.0.3
elasticsearch==7.15.2
entrypoints==0.3
filelock==3.4.0
Flask==2.0.2
Flask-Cors==3.0.10
Flask-GraphQL==2.0.1
Flask-Psycopg2==1.3
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.5.1
Flask-SQLAlchemy-Session==1.1
fonttools==4.28.3
frozenlist==1.2.0
funcy==1.16
future==0.18.2
gensim==3.8.3
gitdb==4.0.9
GitPython==3.1.24
graphene==3.0
graphene-sqlalchemy==2.3.0
graphql-core==3.1.6
graphql-relay==3.1.0
graphql-server==3.0.0b4
graphql-server-core==2.0.0
graphviz==0.19
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
h2==3.2.0
hpack==3.0.0
htmlmin==0.1.12
hyperframe==5.2.0
hyperlink==21.0.0
idna==3.3
ifaddr==0.1.7
ImageHash==4.2.1
imbalanced-learn==0.7.0
importlib-metadata==4.8.2
incremental==21.3.0
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
itemadapter==0.4.0
itemloaders==1.0.4
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.0.1
json2html==1.3.0
json2table==1.1.5
json5==0.9.6
jsonschema==4.2.1
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyter-server==1.12.1
jupyterlab==3.2.4
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
kmodes==0.11.1
lazy-object-proxy==1.6.0
lightgbm==3.3.1
line-bot-sdk==2.0.1
llvmlite==0.36.0
lxml==4.6.4
Mako==1.1.6
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
mccabe==0.6.1
missingno==0.5.0
mistune==0.8.4
mlflow==1.21.0
mlxtend==0.19.0
MouseInfo==0.1.3
multidict==5.2.0
multimethod==1.6
murmurhash==1.0.6
nbclassic==0.3.4
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
nltk==3.6.5
notebook==6.4.6
numba==0.53.1
numexpr==2.7.3
numpy==1.19.5
packaging==21.3
pandas==1.3.4
pandas-profiling==3.1.0
pandocfilters==1.5.0
parsel==1.6.0
parso==0.8.3
patsy==0.5.2
pexpect==4.8.0
phik==0.12.0
pickleshare==0.7.5
Pillow==8.4.0
pipenv==2021.11.23
plac==1.1.3
platformdirs==2.4.0
playwright==1.17.2
plotly==5.4.0
preshed==3.0.6
priority==2.0.0
prometheus-client==0.12.0
prometheus-flask-exporter==0.18.5
promise==2.3
prompt-toolkit==3.0.23
Protego==0.1.16
protobuf==3.19.1
psycopg2==2.9.2
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycaret==2.3.5
PyChromecast==10.1.1
pycparser==2.21
pydantic==1.8.2
PyDispatcher==2.0.5
pyee==8.2.2
PyGetWindow==0.0.9
Pygments==2.10.0
pyLDAvis==3.2.2
pylint==2.12.2
pymongo==4.0
PyMsgBox==1.0.9
pynndescent==0.5.5
pyobjc==8.1
pyobjc-core==8.1
pyobjc-framework-Accessibility==8.1
pyobjc-framework-Accounts==8.1
pyobjc-framework-AddressBook==8.1
pyobjc-framework-AdServices==8.1
pyobjc-framework-AdSupport==8.1
pyobjc-framework-AppleScriptKit==8.1
pyobjc-framework-AppleScriptObjC==8.1
pyobjc-framework-ApplicationServices==8.1
pyobjc-framework-AppTrackingTransparency==8.1
pyobjc-framework-AudioVideoBridging==8.1
pyobjc-framework-AuthenticationServices==8.1
pyobjc-framework-AutomaticAssessmentConfiguration==8.1
pyobjc-framework-Automator==8.1
pyobjc-framework-AVFoundation==8.1
pyobjc-framework-AVKit==8.1
pyobjc-framework-BusinessChat==8.1
pyobjc-framework-CalendarStore==8.1
pyobjc-framework-CallKit==8.1
pyobjc-framework-CFNetwork==8.1
pyobjc-framework-ClassKit==8.1
pyobjc-framework-CloudKit==8.1
pyobjc-framework-Cocoa==8.1
pyobjc-framework-Collaboration==8.1
pyobjc-framework-ColorSync==8.1
pyobjc-framework-Contacts==8.1
pyobjc-framework-ContactsUI==8.1
pyobjc-framework-CoreAudio==8.1
pyobjc-framework-CoreAudioKit==8.1
pyobjc-framework-CoreBluetooth==8.1
pyobjc-framework-CoreData==8.1
pyobjc-framework-CoreHaptics==8.1
pyobjc-framework-CoreLocation==8.1
pyobjc-framework-CoreMedia==8.1
pyobjc-framework-CoreMediaIO==8.1
pyobjc-framework-CoreMIDI==8.1
pyobjc-framework-CoreML==8.1
pyobjc-framework-CoreMotion==8.1
pyobjc-framework-CoreServices==8.1
pyobjc-framework-CoreSpotlight==8.1
pyobjc-framework-CoreText==8.1
pyobjc-framework-CoreWLAN==8.1
pyobjc-framework-CryptoTokenKit==8.1
pyobjc-framework-DeviceCheck==8.1
pyobjc-framework-DictionaryServices==8.1
pyobjc-framework-DiscRecording==8.1
pyobjc-framework-DiscRecordingUI==8.1
pyobjc-framework-DiskArbitration==8.1
pyobjc-framework-DVDPlayback==8.1
pyobjc-framework-EventKit==8.1
pyobjc-framework-ExceptionHandling==8.1
pyobjc-framework-ExecutionPolicy==8.1
pyobjc-framework-ExternalAccessory==8.1
pyobjc-framework-FileProvider==8.1
pyobjc-framework-FileProviderUI==8.1
pyobjc-framework-FinderSync==8.1
pyobjc-framework-FSEvents==8.1
pyobjc-framework-GameCenter==8.1
pyobjc-framework-GameController==8.1
pyobjc-framework-GameKit==8.1
pyobjc-framework-GameplayKit==8.1
pyobjc-framework-ImageCaptureCore==8.1
pyobjc-framework-IMServicePlugIn==8.1
pyobjc-framework-InputMethodKit==8.1
pyobjc-framework-InstallerPlugins==8.1
pyobjc-framework-InstantMessage==8.1
pyobjc-framework-Intents==8.1
pyobjc-framework-IOSurface==8.1
pyobjc-framework-iTunesLibrary==8.1
pyobjc-framework-KernelManagement==8.1
pyobjc-framework-LatentSemanticMapping==8.1
pyobjc-framework-LaunchServices==8.1
pyobjc-framework-libdispatch==8.1
pyobjc-framework-LinkPresentation==8.1
pyobjc-framework-LocalAuthentication==8.1
pyobjc-framework-MapKit==8.1
pyobjc-framework-MediaAccessibility==8.1
pyobjc-framework-MediaLibrary==8.1
pyobjc-framework-MediaPlayer==8.1
pyobjc-framework-MediaToolbox==8.1
pyobjc-framework-Metal==8.1
pyobjc-framework-MetalKit==8.1
pyobjc-framework-MetalPerformanceShaders==8.1
pyobjc-framework-MetalPerformanceShadersGraph==8.1
pyobjc-framework-MLCompute==8.1
pyobjc-framework-ModelIO==8.1
pyobjc-framework-MultipeerConnectivity==8.1
pyobjc-framework-NaturalLanguage==8.1
pyobjc-framework-NetFS==8.1
pyobjc-framework-Network==8.1
pyobjc-framework-NetworkExtension==8.1
pyobjc-framework-NotificationCenter==8.1
pyobjc-framework-OpenDirectory==8.1
pyobjc-framework-OSAKit==8.1
pyobjc-framework-OSLog==8.1
pyobjc-framework-PassKit==8.1
pyobjc-framework-PencilKit==8.1
pyobjc-framework-Photos==8.1
pyobjc-framework-PhotosUI==8.1
pyobjc-framework-PreferencePanes==8.1
pyobjc-framework-PushKit==8.1
pyobjc-framework-Quartz==8.1
pyobjc-framework-QuickLookThumbnailing==8.1
pyobjc-framework-ReplayKit==8.1
pyobjc-framework-SafariServices==8.1
pyobjc-framework-SceneKit==8.1
pyobjc-framework-ScreenSaver==8.1
pyobjc-framework-ScreenTime==8.1
pyobjc-framework-ScriptingBridge==8.1
pyobjc-framework-SearchKit==8.1
pyobjc-framework-Security==8.1
pyobjc-framework-SecurityFoundation==8.1
pyobjc-framework-SecurityInterface==8.1
pyobjc-framework-ServiceManagement==8.1
pyobjc-framework-Social==8.1
pyobjc-framework-SoundAnalysis==8.1
pyobjc-framework-Speech==8.1
pyobjc-framework-SpriteKit==8.1
pyobjc-framework-StoreKit==8.1
pyobjc-framework-SyncServices==8.1
pyobjc-framework-SystemConfiguration==8.1
pyobjc-framework-SystemExtensions==8.1
pyobjc-framework-UniformTypeIdentifiers==8.1
pyobjc-framework-UserNotifications==8.1
pyobjc-framework-UserNotificationsUI==8.1
pyobjc-framework-VideoSubscriberAccount==8.1
pyobjc-framework-VideoToolbox==8.1
pyobjc-framework-Virtualization==8.1
pyobjc-framework-Vision==8.1
pyobjc-framework-WebKit==8.1
pyod==0.9.5
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyperclip==1.8.2
PyRect==0.1.4
pyrsistent==0.18.0
PyScreeze==0.1.28
python-dateutil==2.8.2
python-dotenv==0.19.2
python-editor==1.0.4
python-Levenshtein==0.12.2
pytweening==1.0.4
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==22.3.0
querystring-parser==1.2.4
queuelib==1.6.2
regex==2021.11.10
requests==2.26.0
requests-unixsocket==0.2.0
rubicon-objc==0.4.2
Rx==3.2.0
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy==1.5.4
Scrapy==2.5.1
scrapy-playwright==0.0.7
seaborn==0.11.2
Send2Trash==1.8.0
service-identity==21.1.0
setuptools-scm==6.3.2
simplekml==1.3.6
singledispatch==3.7.0
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.1
spacy==2.3.7
SQLAlchemy==1.4.27
sqlparse==0.4.2
srsly==1.0.5
statsmodels==0.13.1
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tenacity==8.0.1
terminado==0.12.1
testpath==0.5.0
textblob==0.17.1
thinc==7.4.5
threadpoolctl==3.0.0
toml==0.10.2
tomli==1.2.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
Twisted==21.7.0
typing-extensions==3.10.0.2
umap-learn==0.5.2
urllib3==1.26.7
uvicorn==0.15.0
virtualenv==20.10.0
virtualenv-clone==0.5.7
visions==0.7.4
w3lib==1.22.0
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
websockets==10.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wordcloud==1.8.1
wrapt==1.13.3
yarl==1.7.2
yellowbrick==1.3.post1
zeroconf==0.37.0
zipp==3.6.0
zope.interface==5.4.0
