body{
  padding: 0px;
  background: #EEE;
  font-size: 12px;
}
header{
  display: flex;
  padding: 8px;
  background: #343a40;
  color: #fff;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
h2, h3{
  margin: 0 8px;
}
.contents{
  margin: 0;
  padding: 4px 10px;
}
.flex{
  display: flex;
}
div.dispplacerace{
  display: flex;
  margin-bottom: 4px;
}
div.dispplacerace > div{
  display: flex;
  padding: 4px;
}
div.dispplacerace > div > h5{
  width: 64px;
  margin: 0 8px;
  text-align: center;
}
.dispplacerace button {
  width: 48px;
  margin-left: 10px;
}
th, td{
  white-space: nowrap;
}
.col_レースID, .col_タイトル, .col_天候, .col_時刻, .col_発走時刻, .col_日程, .col_グレード, .col_頭数, .col_賞金, .col_raceurl{
  display: none;
}
.rankinfo_initnone,
.rankinfo_raceend{
  display: none;
}
.col_racerank,
.col_nextracerank,
.col_rankinfo{
  display: none;
}
.rankinfo_initend{
  border-bottom: 3px double #999;
}
.rankinfo_raceend{
  border-bottom: 3px solid #999;
}
div.jockeysrank > table{
  margin: 0 4px 1rem;
}
table.raceresults tbody tr:not(.場所_{{racesdf.場所.unique()[0]}}){
  display: none;
}
table.racejockeys th,
table.racejockeys td{
  width: 0;
}
table.racejockeys tr.hiddentr{
  display: none;
}
div.placeinfo{
  font-size: 11px;
}
