<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>NKTheDayRaces</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
  <script src="{{url_for('static', filename='js/jquery-3.4.1.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
</head>
<body>
  {%- set places = racesdf.場所.unique() %}
  <header>
    <h2>{{racesdf.日程[0]}}</h2>
    {%- for place in places %}
    <h2>{{place}}</h2>
    {%- endfor %}
  </header>
  <div class="contents">
    <div class="dispplacerace">
      <div class="dispplace">
        <h5>場所</h5>
        <button class="dispallplaces">ALL</button>
        {%- for place in places %}
        <button class="dispplace">{{place}}</button>
        {%- endfor %}
      </div>
      <div class="disprace">
        <h5>レース</h5>
        <button class="dispallraces">ALL</button>
        {%- for idx in range(1, 13) %}
        <button class="disprace">{{idx}}</button>
        {%- endfor %}
      </div>
    </div>
    <table class="raceresults table table-sm table-hover">
      <thead class="thead-dark">
        {%- for column in racesdf.columns: %}
        <th class="col_{{column}}">{{column}}</th>
        {%- endfor %}
      </thead>
      <tbody>
        {%- for index, row in racesdf.iterrows(): %}
        <tr class="場所_{{row.場所}} R_{{row.R}} 順位_{{row.順位}} idx_{{index}} rankinfo_{{row.rankinfo}}" data-place="{{row.場所}}" data-racenum="{{row.R}}" data-placenum="{{row.順位}}">
          {%- for col, val in row.items(): %}
          <td class="col_{{col}} 場所_{{row.場所}} R_{{row.R}} 順位_{{row.順位}} idx_{{index}}">{{val}}</td>
          {%- endfor %}
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    <div class="placeinfo">
      <table class="placeinfo table table-sm table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>場所</th>
            <th>形式</th>
            {%- for column in racesgp2.columns: %}
            <th>{{column}}</th>
            {%- endfor %}
          </tr>
        </thead>
        <tbody>
          {%- for index, races in racesgp2.iterrows(): %}
          <tr>
            {%- for th in index: %}
            <th>{{th}}</th>
            {%- endfor %}
            {%- for col, val in races.items() %}
            <td>{{val}}</td>
            {%- endfor %}
          </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="jockeysrank flex">
    {%- set jockeystr = "activetr" %}
    {%- for index, row in jockeys.iterrows(): %}
    {%- if row.dispmode == 'place1st': %}
    <table class="racejockeys table table-sm table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>場所</th>
          <th>騎手</th>
          {%- for th in jockeys.columns[:-1]: %}
          <th>{{th}}</th>
          {%- endfor %}
        </tr>
      </thead>
      <tbody>
    {%- endif %}
        {%- if row[1] == 0.0 and row[2] == 0.0 and row[3] == 0.0: %}
          {%- set jockeystr = "hiddentr" %}
        {%- endif %}
        <tr class="{{jockeystr}}" data-place="{{index[0]}}">
          <th>{{index[0]}}</th>
          <th>{{index[1]}}</th>
          {%- for col, val in row.items(): %}
            {%- if col != 'dispmode': %}
              {%- if col in ('1着','2着','3着','騎乗数') or (val+1) / (val|int + 1) == 1: %}
                {%- set val = val|int %}
              {%- endif %}
              {%- if val == 0.0 or val == 0: %}
                {%- set val = "..." %}
              {%- endif %}
          <td>{{val}}</td>
            {%- endif %}
          {%- endfor %}
        </tr>
    {%- if row.dispmode == 'placelast': %}
      </tbody>
    </table>
    {%- endif %}
    {%- endfor %}
  </div>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
